.carrusel__contenedor-diapositiva {
  display: flex;
  @media screen and (max-width: $punto-ruptura-1) {
    flex-direction: column;
  }
}

.carrusel__contenedor-imagen {
  @media screen and (max-width: $punto-ruptura-1) {
    width: 100%;
  }
  @media screen and (min-width: $punto-ruptura-1 + 1) {
    width: 65%;
  }
}

.carrusel__explica {
  @media screen and (max-width: $punto-ruptura-1) {
    width: 100%;
    list-style: none;
    margin-top: 1rem;
    margin-left: 0;
  }
  @media screen and (min-width: $punto-ruptura-1 + 1) {
    width: 35%;
    margin-right: 2.5rem;
    list-style: circle;
    color: $color-destacado-2;
  }

  &__item {
    margin-bottom: 1rem;
  }
}

.carrusel__imagen {
  max-width: 100%;
  height: auto;
}

.carrusel__parrafo {
  color: darken($color-light-darken, 15%);
  @media screen and (max-width: $punto-ruptura-1 - 1) {
    font-size: 1rem;
  }
  @media screen and (min-width: $punto-ruptura-1) {
    font-size: 1.2rem;
  }
}

.orbit-next,
.orbit-previous {
  cursor: pointer;
  font-size: 150%;
  color: $color-light-darken;
  @media screen and (max-width: $punto-ruptura-1 - 1) {
    margin-top: 0.5rem;
  }
}

.orbit-bullets {
  margin-bottom: 2rem;
}
