.parrafo-h3 {
  @include parrafo($fuente-serif, 2rem, 1.5rem);
}

.parrafo-degradado {
  border-radius: 10px;
  @include degradado($color-dark,$color-light-darken, #fff);

  &__lista {
    list-style: none;
    margin-top: 1.5rem;
    padding-left: 1rem;
  }

  &__lista__item {
    color: lighten($color-dark, 18%);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;

    i {
      color: $color-light;
      margin-right: 0.3rem;
    }
  }
}

.cabecera-parrafo-degradado {
  text-transform: uppercase;
  padding: 1rem 0.5rem 0.5rem;
  border-bottom: 1px solid rgba($color-light, .33);

  i {
    margin-right: 0.7rem;
    color: $color-light;
  }
}

.contenedor-principal {
  margin-top: 2rem;
}

.contenedor-general-60 {
  @media screen and (min-width: $punto-ruptura-2) {
    width: 60%;
  }
  @media screen and (max-width: $punto-ruptura-1) {
    width: 100%;
  }
}

.contenedor-centrar-horizontal {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contenedor-general-flex {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  @media screen and (max-width: $punto-ruptura-1) {
    flex-direction: column;
  }
}

.contenedor-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper90 {
  width: 90%;
  margin: 1rem auto 2rem;
  display: flex;
  justify-content: center;
}

.cabecera-pagina {
  margin-bottom: 2rem;
  color: $color-destacado;
}

.margin-top {
  margin-top: 2rem;
}

.fila-ultima {
  @include margin-bottom (2rem);
}

.bgazul {
  background-color: $color-destacado-2;
}

.bggris {
  background-color: lighten($color-light-darken, 10%);
}

.bggris-oscuro {
  background-color: darken($color-light-darken, 15%);
}

.texto-destacado {
  color: $color-destacado;
  margin: 2rem 0 1rem 2rem;
}

.lista-destacada {
  list-style: circle;
  font-size: 1.5rem;
  color: $color-destacado;

  &__item__texto {
    color: $color-dark;
    font-size: 1rem;
  }
}

.parrafo-destacado {
  font-family: $fuente-serif;
  color: $color-light-darken;
  @media screen and (min-width: $punto-ruptura-2) {
    font-size: 2.5rem;
  }
  @media screen and (max-width: $punto-ruptura-1) {
    font-size: 1.7rem;
  }
}

.lista-triangulos {
  padding: 0 1.5rem;
  list-style: none;
  font-size: 1.5rem;
  color: $color-destacado;
  @media screen and (min-width: $punto-ruptura-2) {
    margin: 0 0 3rem 2rem;
  }
  @media screen and (max-width: $punto-ruptura-1) {
    margin: 0 0 0 2rem;
  }

  &__item {
    margin-bottom: 0.8rem;

    &::before {
      content: "";
      border-color: transparent $color-menu-links;
      border-style: solid;
      border-width: 0.35em 0 0.35em 0.45em;
      display: block;
      height: 0;
      width: 0;
      left: -1em;
      top: 1.1em;
      position: relative;
    }
  }
}

.oculta-small {
  @media screen and(max-width: $punto-ruptura-1 - 1) {
    display: none;
  }
}

.solo-small {
  @media screen and (min-width: $punto-ruptura-1 ) {
    display: none;
  }
}

.icon-hero {
  font-size: 20rem;

  &__gris {
    color: lighten($color-complementario, 17%);
  }
}

.div-fondo-imagen-01 {
  width: 40%;
  background-image: url('../img/fondo01.jpg');
  background-size: cover;
  border-radius: 5px;
}

.profesor-tronco {
  max-height: rem-calc(500);
}

.variable-estadisticas {
  color: $color-light-darken;
  border-bottom: 1px solid $color-light-darken;
  padding-bottom: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.accion-click {
  color: $color-destacado-3;
}
