@mixin degradado($color,$inicio,$fin) {
  color: $color;
  background: linear-gradient($inicio,$fin);
}
@mixin parrafo($ff, $fs, $padding) {
  font-family: $ff;
  font-size: $fs;
  padding: $padding;
}

@mixin degradado-one-color($color) {
  border: 1px solid $color;
  background: linear-gradient(lighten($color, 10%), $color 70%);
}

@mixin margin-bottom($mb) {
  margin-bottom: $mb;
}
