.boton-descarga,
.boton-link {
  font-family: $fuente-sans-serif;
  font-size: 0.8rem;
  border: 2px solid $color-links;
  border-radius: 30px;
  color: $color-links;
  padding: 1rem 2rem;

  &:focus {
    color: $color-links;
  }

  &:hover {
    border-color: $color-destacado-2;
    color: $color-destacado-2;
  }

  i {
    margin-left: 0.2rem;
    font-size: 1rem;
  }
}
