.contenedor-cifra-bruta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.cifra-bruta__cifra {
  font-size: 3rem;
  color: darken($color-light-darken, 15%);
}

.cifra-bruta__texto {
  font-size: 1rem;
  text-transform: uppercase;
  color: $color-dark;
}
