.contenedor-icono-abrir-canvas__icono {
  margin: 1rem;
  padding: .5rem .7rem;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: $color-destacado-3;
  color: $color-light;
}
