<div class="accordion" data-accordion data-allow-all-closed="true">
  <div class="accordion-item acordeon-menu" data-accordion-item>
    <a href="#" class="accordion-title acordeon-menu__titulo">Módulo 1</a>
    <div class="accordion-content" data-tab-content>
      <ul class="unidades">
        <li><a href="{{root}}inicio-modulo.html" class="home-modulo">Home Módulo</a></li>
        <li><a href="{{root}}inicio-unidad.html">Unidad 1</a></li>
        <li><a href="#">Unidad 2</a></li>
        <li><a href="#">Unidad 3</a></li>
        <li><a href="#">Unidad 4</a></li>
      </ul>
    </div>
  </div>
  <div class="accordion-item acordeon-menu" data-accordion-item>
    <a href="#" class="accordion-title acordeon-menu__titulo">Módulo 2</a>
    <div class="accordion-content" data-tab-content>
      <ul class="unidades">
        <li><a href="#" class="home-modulo">Home Módulo</a></li>
        <li><a href="#">Unidad 1</a></li>
        <li><a href="#">Unidad 2</a></li>
        <li><a href="#">Unidad 3</a></li>
        <li><a href="#">Unidad 4</a></li>
        <li><a href="#">Unidad 5</a></li>
        <li><a href="#">Unidad 6</a></li>
      </ul>
    </div>
  </div>
  <div class="accordion-item acordeon-menu" data-accordion-item>
    <a href="#" class="accordion-title acordeon-menu__titulo">Módulo 3</a>
    <div class="accordion-content" data-tab-content>
      <ul class="unidades">
        <li><a href="#" class="home-modulo">Home Módulo</a></li>
        <li><a href="#">Unidad 1</a></li>
        <li><a href="#">Unidad 2</a></li>
        <li><a href="#">Unidad 3</a></li>
      </ul>
    </div>
  </div>
  <div class="accordion-item acordeon-menu" data-accordion-item>
    <a href="#" class="accordion-title acordeon-menu__titulo">Módulo 4</a>
    <div class="accordion-content" data-tab-content>
      <ul class="unidades">
        <li><a href="#" class="home-modulo">Home Módulo</a></li>
        <li><a href="#">Unidad 1</a></li>
        <li><a href="#">Unidad 2</a></li>
        <li><a href="#">Unidad 3</a></li>
        <li><a href="#">Unidad 4</a></li>
        <li><a href="#">Unidad 5</a></li>
        <li><a href="#">Unidad 6</a></li>
        <li><a href="#">Unidad 7</a></li>
        <li><a href="#">Unidad 8</a></li>
      </ul>
    </div>
  </div>
  <div class="accordion-item acordeon-menu" data-accordion-item>
    <a href="#" class="accordion-title acordeon-menu__titulo">Módulo 5</a>
    <div class="accordion-content" data-tab-content>
      <ul class="unidades">
        <li><a href="#" class="home-modulo">Home Módulo</a></li>
        <li><a href="#">Unidad 1</a></li>
        <li><a href="#">Unidad 2</a></li>
        <li><a href="#">Unidad 3</a></li>
        <li><a href="#">Unidad 4</a></li>
        <li><a href="#">Unidad 5</a></li>
      </ul>
    </div>
  </div>
</div>
