<header class="cabecera">
  <div class="contenedor-cabecera">
    <div class="contenedor-logo-nombre-curso">
      <img src="{{root}}assets/img/logo-curso.png" alt="Curso Lorem Ipsum" class="logo-curso">
      <div class="contenedor-titulos">
        <h1 class="titulo-curso">Título del Curso</h1>
        <p class="nivel-1">{{modulo}}</p>
        <p class="nivel-2">{{unidad}}</p>
      </div>
    </div>
    <div class="contenedor-titulo-pantalla">
      <h2 class="titulo-pantalla">{{titulo-pagina}}</h2>
    </div>
  </div>
</header>
