<div class="expanded row">
  <div class="large-12 columns jumbo-full-width" id="{{jumbo-id}}">
    <div class="jumbo-full-width__contenedor">
      <div class="jumbo-full-width__item">
        <h2 class="jumbo-full-width__item__cabecera">
          {{titulo-cabecera-jumbo}}
        </h2>
        <h3 class="jumbo-full-width__subitem__cabecera">
          {{subitem-cabecera-jumbo}}
        </h3>
      </div>
      <div class="jumbo-full-width__item">
        <p class="jumbo-full-width__texto">
          {{texto-jumbo}}
        </p>
      </div>
    </div>
  </div>
</div>
