<div class="contenedor-principal-jumbo-inicio-modulo">
  <div class="expanded row">
    <div class="large-12 columns jumbo-inicio-modulo" id="{{jumbo-id}}">
      <div class="jumbo-inicio-modulo__contenedor">
        <div class="jumbo-inicio-modulo__item">
          <h2 class="jumbo-inicio-modulo__item__cabecera">
          {{titulo-cabecera-jumbo}}
        </h2>
          <h3 class="jumbo-inicio-modulo__subitem__cabecera">
          {{subitem-cabecera-jumbo}}
        </h3>
        </div>
        <div class="jumbo-inicio-modulo__item">
          <p class="jumbo-inicio-modulo__texto">
            {{texto-jumbo}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
