<div class="title-bar" data-responsive-toggle="menu-navegacion" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="menu-navegacion"></button>
  <div class="title-bar-title">Menú</div>
</div>
<div class="top-bar" id="menu-navegacion">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a class="menu__link" href="#">Escritorio</a></li>
      <li><a class="menu__link" href="#">Tutor</a></li>
      <li><a class="menu__link" href="#">Campus</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a class="menu__link" href="{{root}}{{link-inicio-curso}}">Inicio Curso</a></li>
      <li><a class="menu__link" href="{{root}}{{link-inicio-modulo}}">Inicio Módulo</a></li>
      <li><a class="menu__link" href="{{root}}{{link-inicio-unidad}}">Inicio Unidades</a></li>
    </ul>
  </div>
</div>
