<div class="tarjeta-boton">
  <div class="tarjeta-boton__encabezado">
    <h4 class="tarjeta-boton__encabezado__texto">
      {{encabezado-tarjeta}}
    </h4>
  </div>
  <div class="tarjeta-boton__cuerpo">
    <p class="tarjeta-boton__cuerpo__texto">
      {{texto-tarjeta-1}}
    </p>
    <p class="tarjeta-boton__cuerpo__texto">
      {{texto-tarjeta-2}}
    </p>
    <p class="tarjeta-boton__cuerpo__texto">
      {{texto-tarjeta-3}}
    </p>
    <p class="tarjeta-boton__cuerpo__texto">
      {{texto-tarjeta-4}}
    </p>
  </div>
  <div class="tarjeta-boton__boton">
    <a class="icono-link-modal" data-open="{{interaccion-boton}}"><i class="fa {{icono-tarjeta-boton}}"></i></a>
  </div>
</div>
